@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Dancing+Script:wght@400..700&family=Josefin+Slab:ital,wght@0,100..700;1,100..700&display=swap');

//fonts
$titleFonts: "Dancing Script", cursive;
$nav-fonts:"Amatic SC", sans-serif;
$primary-fonts: "Josefin Slab", serif;

//path

$pathName1: "../../../public/images/1200x500-Exhibit-Frida.jpg";
$pathName2: "../../../public/images/about.jpg";
$pathName3: "../../../public/images/projects.webp";
$pathName4: "../../../public/images/contact.webp";



//Color

$primary-color:#272727;
$secondaryColor:#ae3407;
$text-color:rgba(255, 255, 255, 0.728);
$white : rgba(255, 255, 255, 0.496)